*{
  margin: 0%;
  padding:0%
}
body{
  background: rgb(0,36,19);
  background: linear-gradient(90deg, rgba(0,36,19,1) 0%, rgba(118,111,10,1) 0%, rgba(17,121,9,1) 0%, rgba(68,106,73,1) 0%, rgba(54,111,12,1) 3%, rgba(15,130,31,1) 9%, rgba(15,133,38,1) 23%, rgba(0,254,255,1) 100%);
}
.delete-btn{
  background: transparent;
  border: none;
  float: right;
  font-size: 29px;
  margin-right: 9px;

}
.delete-btn:hover{
color: red;
}
.container{
text-align: center;
margin-top: 6%

}
.ul-parent{
list-style: none;
}
.li-child{
  font-size: 30px;
  margin-top: 4px;
  background-color:dodgerblue;
  border-radius: 10px;
  font-family: 'Exo', sans-serif;
}
.li-child:hover{
  background-color:rgb(110, 177, 245);
}
.inp-field{
  width: 46%;
  height: 36px;
  border-radius: 6px;
  border:none;
  background-color:aquamarine;
  outline: none;
  padding-left: 18px;
  font-size: 16px;
 
}
.inp-field:active{
  background-color:aquamarine;
}
.add-btn{
  background-color: rgb(49 251 137);
  font-size: 17px;
  padding: 7px;
  border-radius: 3px;
  border: none;
  margin-left: 3px;
  color: azure;
  outline: none;
}
.add-btn:hover{
  text-decoration: underline;
}
.heading-todo{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading-todo:hover{
text-decoration: underline;
}
.ul-div{
  padding:0px 36px;
}